[phases.setup]
nixPkgs = ['nodejs_20', 'openssl']

[variables]
NPM_CONFIG_UPDATE_NOTIFIER = 'false'
NPM_CONFIG_FUND = 'false'
NPM_CONFIG_AUDIT = 'false'

[phases.install]
cmds = [
  'rm -rf node_modules package-lock.json',
  'npm cache clean --force',
  'rm -rf /root/.npm',
  'npm install --legacy-peer-deps --no-save --prefer-offline=false --ignore-scripts',
  'npm rebuild'
]

[phases.build]
cmds = ['npx prisma generate', 'npm run build']

[start]
cmd = 'npx prisma db push && npm start'
